{% extends "admin/home.html" %}
{% import "ul/admin_page.html" as pg %}
{% block css %}
<style>
    .menu_curlink_admin{
        display: flex;
        text-decoration: none;
        color: black;
        background: white;

    }
    .admin_space_text{
        font-weight: bold;
        font-size: larger;
    }
    .admin_sq{
        display: flex;
        background: white;
        width: 80%;
        margin-left: 10%;
    }
    #user_con_head{
        display: flex;
        justify-content: center;
        text-align: center;
        width: 500px;
    }
    .table-table-hover>tbody>tr>th{
        width: 200px;
    }
    .table-table-hover>tbody>tr>td{
        width: 200px;
        text-align: center;
    }
    .box-footer-clearfix>ul{
        display: flex;
        justify-content: right;
        text-align: right;
        list-style: none;
        justify-content: center;
        text-align: center;
    }
    .box-footer-clearfix>ul>li>a{
        text-decoration: none;
        color: #ba2bcc;
    }
    .user_sq_flash {
        display: flex;
        justify-content: center;
        text-align: center;
        color: red;
        background: white;
        font-size: larger;
        font-weight: bold;
        margin-left: 15%;
        width: 70%;
    }
</style>
{% endblock %}

{% block content %}
        {% for msg in get_flashed_messages() %}
        <p class="user_sq_flash" >{{ msg }}</p>
        {% endfor %}
<div class="admin_sq">
    {% include "admin/menu.html" %}
    <div id="user_con">
        <div id="user_con_head">
            <h2 class="user_con_head_text">用户管理</h2>
        </div>
        <div class="box-body table-responsive no-padding">
                            <table class="table-table-hover">
                                <tbody>
                                <tr>
                                    <th>账号</th>
                                    <th>昵称</th>
                                    <th>电话</th>
                                    <th>邮箱</th>
                                    <th>注册时间</th>
                                    <th>操作事项</th>
                                </tr>
                                {% for v in page_data.items %}
                                <tr>
                                    <td>{{ v.id }}</td>
                                    <td>{{ v.name }}</td>
                                    <td>{{ v.phone }}</td>
                                    <td>{{ v.email }}</td>
                                    <td>{{ v.addtime }}</td>
                                    <td>
                                        <a class="label label-danger" href="{{ url_for('admin.user_del',id=v.id) }}">删除</a>
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="box-footer-clearfix">
                            {{ pg.page(page_data,'admin.user') }}
                        </div>
    </div>
</div>

{% endblock %}